# SQLite database

In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect("classroom.db")

In [5]:
cursor = connection.cursor()
create_table = """
                CREATE TABLE students (
                    id         INTEGER PRIMARY KEY,
                    name       VARCHAR(20) NOT NULL,
                    gender     CHAR(1) NOT NULL,
                    phy_marks  INTEGER NOT NULL,
                    chem_marks INTEGER NOT NULL,
                    math_marks INTEGER NOT NULL
                );
                """
cursor.execute(create_table)
connection.commit()
connection.close()

In [9]:
data = [(1, "Raj", "M", 70, 84, 92),
        (2, "Poonam", "F", 87, 67, 93),
        (3, "Nikhil", "M", 65, 83, 90),
        (4, "Rahul", "M", 83, 76, 89)]
connection = sqlite3.connect("classroom.db");
cursor = connection.cursor();
for student in data:
    student = ['"' + str(x) + '"' for x in student]
    insert_stmt = "INSERT INTO students VALUES({0})".format(', '.join(student))
    cursor.execute(insert_stmt)
connection.commit()
connection.close()

INSERT INTO students VALUES("1", "Raj", "M", "70", "84", "92")
INSERT INTO students VALUES("2", "Poonam", "F", "87", "67", "93")
INSERT INTO students VALUES("3", "Nikhil", "M", "65", "83", "90")
INSERT INTO students VALUES("4", "Rahul", "M", "83", "76", "89")

In [10]:
connection = sqlite3.connect("classroom.db");
cursor = connection.cursor();
select_stmt = "SELECT * FROM students"
cursor.execute(select_stmt)
result = cursor.fetchall()
for row in result:
    print(row)
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 67, 93)
(3, 'Nikhil', 'M', 65, 83, 90)
(4, 'Rahul', 'M', 83, 76, 89)

## MySQL

In [13]:
!conda install -y -q pymysql

Package plan for installation in environment C:\Users\yrahu\Anaconda3-3.4:

The following packages will be UPDATED:

    conda-env: 2.6.0-0 --> 2.6.0-h36134e3_1

In [14]:
import pymysql

ImportError: No module named 'pymysql'

In [ ]:
!C:\Users\yrahu\Anaconda3\python -m pip install pymysql

In [1]:
import pymysql

In [3]:
connection = pymysql.connect(host='127.0.0.1', user='root', passwd='thirtytwo', db='test', port=3306)

In [4]:
cursor = connection.cursor()
create_table = """
                CREATE TABLE students (
                    id         INTEGER PRIMARY KEY,
                    name       VARCHAR(20) NOT NULL,
                    gender     CHAR(1) NOT NULL,
                    phy_marks  INTEGER NOT NULL,
                    chem_marks INTEGER NOT NULL,
                    math_marks INTEGER NOT NULL
                );
                """
cursor.execute(create_table)
connection.commit()
connection.close()

In [5]:
connection = pymysql.connect(host='127.0.0.1', user='root', passwd='thirtytwo', db='test', port=3306)

In [6]:
data = [(1, "Raj", "M", 70, 84, 92),
        (2, "Poonam", "F", 87, 67, 93),
        (3, "Nikhil", "M", 65, 83, 90),
        (4, "Rahul", "M", 83, 76, 89)]
cursor = connection.cursor();
for student in data:
    student = ['"' + str(x) + '"' for x in student]
    insert_stmt = "INSERT INTO students VALUES({0})".format(', '.join(student))
    cursor.execute(insert_stmt)
connection.commit()
connection.close()

In [7]:
connection = pymysql.connect(host='127.0.0.1', user='root', passwd='thirtytwo', db='test', port=3306)

In [8]:
cursor = connection.cursor();
select_stmt = "SELECT * FROM students"
cursor.execute(select_stmt)
result = cursor.fetchall()
for row in result:
    print(row)
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 67, 93)
(3, 'Nikhil', 'M', 65, 83, 90)
(4, 'Rahul', 'M', 83, 76, 89)

In [9]:
!C:\Users\yrahu\Anaconda3\python -m pip install pymssql

Collecting pymssql
  Downloading pymssql-2.1.3-cp35-cp35m-win_amd64.whl (367kB)
Installing collected packages: pymssql
Successfully installed pymssql-2.1.3

You are using pip version 8.1.0, however version 9.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [10]:
import pymssql

In [14]:
connection = pymssql.connect(server='127.0.0.1', database='master')

OperationalError: (20009, b'DB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (127.0.0.1:1433)\nNet-Lib error during Unknown error (10060)\n')